.btn,
a.btn {
  display: inline-block;
  background: var(--white);
  padding: 8px;
  min-width: 185px;
  height: 40px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  text-align: center;
  color: var(--black);
  transition: all 0.2s ease-in-out;

  &--small {
    min-width: unset;
    padding-left: 15px;
    padding-right: 15px;
  }

  &:hover {
    background-color: var(--neutral-grayededed);
  }

  @include mobile {
    padding: 8px 9px;
    min-width: unset;
  }

  &--mobile-white {
    @include mobile {
      width: 100%;
      text-align: left;
      padding: 8px 16px;
    }
  }
}

a.btn-outline,
.btn-outline {
  border: 1px solid var(--primary-primary-600);
  padding: 16px;
  height: 40px;

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-primary-600)!important;

  &:hover {
    color: var(--primary-primary-700);
  }
}
