.card-collection {
  position: relative;
}
.card-collection__img {
}
.card-collecion__link {
  position: absolute;
  right: 16px;
  bottom: 16px;

  @include mobile {
      position: static;
  }

  & .btn::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}