.card {
  position: relative;
}
.card__fav-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 1;

  @include mobile {
    top: 10px;
    right: 10px;
  }
}

.card__btn-fav {
  .icon--favorite {
    transition: all 0.2s ease-in-out;
  }
  &:hover .icon--favorite {
    stroke: var(--state-color-error);
  }
  &--selected .icon--favorite {
    stroke: var(--state-color-error);
    fill: var(--state-color-error);
  }
}

.card__body {
  padding: 5.5px 8px;
  display: grid;
  gap: 8px;

  @include mobile {
    padding: 0;
  }
}
.card__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--black);

  @include mobile {
    font-weight: 600;
    font-size: 14px;
  }

  a {
    color: var(--black);
  }

  a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.card__cols {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 8px;

  @include mobile {
    flex-direction: column;
    gap: 3px;
  }
}
.card__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--black);

  @include mobile {
    font-size: 14px;
    line-height: 140%;
  }
}
.card__price {
  text-align: right;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--black);

  @include mobile {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }
}
.card__colors {
  display: flex;
  gap: 8px;
}
